on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '**' ]

# Set default permissions as read only.
permissions: read-all

name: Go
jobs:

  go-test:
    strategy:
      matrix:
        go-version: [1.15.x, 1.24.x, 1.25.x ]
        platform: [ubuntu-latest, ubuntu-24.04-arm, macos-latest, windows-latest]
        exclude:
            # There is no arm64 version of Go for darwin.
            # This exclude can be removed if the minimal Go version
            # is > Go 1.16.
          - go-version: "1.15.x"
            platform: "macos-latest"
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Download Go dependencies
      env:
        GOPROXY: "https://proxy.golang.org"
      run: go mod download
    - name: Simple Tests
      if: matrix.platform != 'ubuntu-latest'
      run: go test -count=1 ./...
    - name: Test with -race
      if: matrix.platform == 'ubuntu-latest'
      run: go test -race -count=3 ./...
    - name: Test with -shuffle=on
      if: matrix.platform == 'ubuntu-latest' && startsWith(matrix.go-version, '1.2')
      run: go test -shuffle=on -count=3 ./...
    - name: Integrationtest for linux
      if: matrix.platform == 'ubuntu-latest'
      run: |
        go test -race -v -exec=sudo -tags integration -covermode=atomic -coverprofile=profile.cov ./...
    - name: coveralls.io
      if: matrix.platform == 'ubuntu-latest' && startsWith(matrix.go-version, '1.24')
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        go install github.com/mattn/goveralls@v0.0.12
        goveralls -v -tags integration -coverprofile=profile.cov -service=github
  code-check:
    strategy:
      matrix:
        go-version: [1.25.x]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Download Go dependencies
      env:
        GOPROXY: "https://proxy.golang.org"
      run: go mod download
    - name: staticcheck.io
      uses: dominikh/staticcheck-action@024238d2898c874f26d723e7d0ff4308c35589a2 # v1.4.0
      with:
        version: "2025.1"
        install-go: false
        cache-key: ${{ matrix.go }}
